<div class="p-5 w-100 justify-content-center btn">
  <div>
    <button class="btn-dialpad rounded-circle" (click)="clickDigit('1')">1</button>
    <button class="btn-dialpad rounded-circle mx-3" (click)="clickDigit('2')">2</button>
    <button class="btn-dialpad rounded-circle" (click)="clickDigit('3')">3</button>
  </div>
  <div class="my-3">
    <button class="btn-dialpad rounded-circle" (click)="clickDigit('4')">4</button>
    <button class="btn-dialpad rounded-circle mx-3" (click)="clickDigit('5')">5</button>
    <button class="btn-dialpad rounded-circle" (click)="clickDigit('6')">6</button>
  </div>
  <div class="my-3">
    <button class="btn-dialpad rounded-circle" (click)="clickDigit('7')">7</button>
    <button class="btn-dialpad rounded-circle mx-3" (click)="clickDigit('8')">8</button>
    <button class="btn-dialpad rounded-circle" (click)="clickDigit('9')">9</button>
  </div>
  <div class="my-3">
    <button class="btn-dialpad rounded-circle" (click)="clickDigit('*')">✱</button>
    <button class="btn-dialpad rounded-circle mx-3" (click)="clickDigit('0')">0</button>
    <button class="btn-dialpad rounded-circle" (click)="clickDigit('#')">#</button>
  </div>
  <div>
    <button class="btn-colgar rounded-circle mt-1 line-colgar" (click)="onColgar()">
      <i class="fas fa-phone"></i>
    </button>
  </div>
</div>
