<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <div class="icon-close"></div>
  </button>
  <h4 class="modal-title" [innerHTML]="formService.serviceName"></h4>   
  <!--<p class="modal-subtitle">Categoría</p>-->
  <div class="icon">
      <div class="{{formService.serviceIcon}}"></div>
  </div>
</div>

<!--
<section id="servicestitles" class="mr-3 ml-3 pl-1">
  <div class="container-fluid">
    <br /><br /><br /><br /><br />
    <div class="service-title" [innerHTML]="formService.serviceDesc"></div>
    <br />
    <button class="collapse-btn" data-toggle="collapse" data-target="#description-service">
      <div class="myicons-info"></div> {{ 'MAS_INFO_SERVICIO' | translate }}
    </button>
    <div id="description-service" class="collapse">
      <div>
        <span [innerHTML]="formService.longDesc"></span>
      </div>
    </div>
  </div>
</section>
-->

<section class="mr-2 ml-2 pl-1 mt-3">
  <div class="container-fluid">
    <div class="sscard w-100 mb-4">
      <div class="container-fluid">
        <p class="requiredtext m-0 mt-2 mb-4">{{'FORMULARIO_TEXTO' | translate}}</p>
        <div class="sscard w-100 mb-4 p-0">
          <form (ngSubmit)="onSubmit()">
            <p class="requiredtext">
              * {{'CAMPOS_OBLIGATORIOS' | translate}}
            </p>
            <h6 class="mb-2 text-left">{{'DATOS_INTERESADO' | translate}}</h6>
            <div class="form-row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <input type="text" required class="form-control" name="name" [(ngModel)]="data.name"
                    [ngClass]="{ 'is-invalid': name.invalid && (name.dirty || name.touched) }" #name="ngModel"
                    maxlength="200" placeholder="{{'NOMBRE_APELLIDOS' | translate}} *">
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <input type="text" required class="form-control" name="dni" [(ngModel)]="data.dni"
                    [ngClass]="{ 'is-invalid': dni.invalid && (dni.dirty || dni.touched) }" #dni="ngModel" maxlength="50" placeholder="{{'DNI' | translate}} *">
                </div>
              </div>
            </div>
            <br />
            <h6 class="mb-2 text-left">{{'DATOS_REPRESENTANTE' | translate}}</h6>
            <div class="form-row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <input type="text" class="form-control" name="repName" [(ngModel)]="data.repName" #repName="ngModel"
                    maxlength="200" placeholder="{{'NOMBRE_APELLIDOS' | translate}}">
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <input type="text" class="form-control" name="repDni" [(ngModel)]="data.repDni" #repDni="ngModel"
                    maxlength="50" placeholder="{{'DNI' | translate}}">
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <input type="text" required class="form-control" name="phone" [(ngModel)]="data.phone"
                    [ngClass]="{ 'is-invalid': phone.invalid && (phone.dirty || phone.touched) }" #phone="ngModel"
                    maxlength="20" placeholder="{{'TELEFONO' | translate}} *">
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <input type="text" required class="form-control" name="email" [(ngModel)]="data.email"
                    [ngClass]="{ 'is-invalid': email.invalid && (email.dirty || email.touched) }" #email="ngModel"
                    maxlength="100" placeholder="{{'EMAIL' | translate}} *">
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" required class="form-control" name="url" [(ngModel)]="data.url"
                [ngClass]="{ 'is-invalid': url.invalid && (url.dirty || url.touched) }" #url="ngModel" maxlength="200" placeholder="{{'URL_CANCELAR' | translate}} *">
            </div>
            <div class="form-group">
              <textarea class="form-control" name="comments" [(ngModel)]="data.comments" #comments="ngModel"
                rows="3" placeholder="{{'OBSERVACIONES' | translate}}"></textarea>
            </div>
            <div class="mt-3 errormen">
              <div *ngIf="showMessage" class="loginError d-inline-flex align-items-center">
                <div class="icon-exclamation-tri"></div> {{message}}
              </div>
            </div>
            <button type="submit" class="btn btn-primary"
              [disabled]="name.invalid || dni.invalid || email.invalid || phone.invalid || url.invalid || loading">
              <nz-spinner *ngIf="loading"></nz-spinner>
              <div *ngIf="!loading">{{'ENVIAR'
                | translate}}</div>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
