<section id="header">
  <app-service-header 
    [serviceName] = "externalLicenseService.serviceName"
    [serviceLongDesc] = "externalLicenseService.longDesc"
    [serviceDesc] = "externalLicenseService.serviceDesc"
    [serviceIcon] = "externalLicenseService.serviceIcon">
  </app-service-header>
  
</section>

<section class="mr-3 ml-3 pl-1 mt-3">
  <div class="container-fluid">
    <hr>
    <br/>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div>
          <img src="{{staticContentUrl+'img/art/kaspersky_logo.png'}}" width="250" heigth="" alt="Kaspersky" />
        </div>
        <p style="text-align: center" class="ps">
          {{'COMP_EXTERNALLICENSE.TEXT1' | translate}}
        </p>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <br/>
        <div class="form-group continput">
          <label>{{'ANTIVIRUS.LICENSE' | translate}}</label>
          <div class="input-group">
            <input type="text" style="text-align: center; font-size: 22px; padding: 0px;" class="form-control"  id="" [value]="externalLicenseCode">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<br/><br/><br/>