
  <div class="slider-content">
    <div class="slider-wrapper">

      <div class="slider-item" *ngFor="let slide of slidesCopy">
        <ng-template
          [ngTemplateOutlet]="slide.template"
        ></ng-template>
      </div>
    </div>

  </div>

  <div class="fra-carousel">

  <ul class="ul-carousel">
      <li class="fra-carousel-prev" (click)="previusPage(true)">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </li>
      <li
        class="fra-carousel-item"
        [ngClass]="{ 'fra-carousel-active': currentPage == (i+1)}"
        *ngFor="let item of slides; let i = index"
        (click)="gotoPage(i+1, true)"
      >
      &nbsp;
      </li>
      <li class="fra-carousel-next"  (click)="nextPage(true)">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </li>
  </ul>

</div>

