body{
    height: auto !important;
}

.right-card{
    border-radius: 8px;
}

.right-card-body{
    width: 95%;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 24px;
}

.card-section {
    margin: auto;
    margin-top: 40px;
    padding-bottom: 132px;
    max-width: 1146px;
}
.pass-create{
    float: left;
    padding-right: 10px;

}
.pass-confirm{
    margin-top: 21px;
    float: left;
    padding-left: 10px ;    
}

.justify-content-end{
    float: left;
    margin-top: -20px !important;
}

@media screen and (max-width: 990px){
.pass-confirm{
    padding-left: 10px ; 
}

.pass-create{
    padding-right: 10px ; 
}

}

@media screen and (max-width: 768px){
    .m767 .service-card{
        margin-left: 0px !important;
        margin-right:  0px !important;
    }
    
}



    /* Segunda seccion */
    .mt-42 {
        margin-top: 56px;
    }
    