
<section class="card-section" *ngIf="!noActive">
  <div class="h-100 col-lg-4 col-md-12 col-sm-12 steps-card no-padding-responsive" >
    <div class="h-100 no-padding-responsive card">
      <div class="card-logo pr-4 pl-4 pt-3 pb-0 mb-5">
        <a>
          <b class="logo">
            <img src="{{partnerService.partner.logotipo}}" alt="homepage" class="light-logo" />
          </b>
        </a>
      </div>
      <div class="card-body pr-0 pl-0 mb-3">
        <div class="indicator ">
          <span class=" pl-4 fs-14 lh-16 neutral-black"><b>{{'CAMBIO_CONTRASENA' | translate }}</b></span>
          
        </div>
      </div>
      <div class="card-footer pr-0 pl-0 pt-0 pb-0">
  
      </div>
    </div>
  </div>
  <div class="container-fluid m767 pr-3"> 
    <div class="row service-card card-row">      
      <p class="right-card-tittle"> {{'RECOVER_TEXTO2' | translate }}</p>
      <div class="col-lg-12 col-md-12 col-sm-12 right-card">

        <div class="justify-content-between right-card-body">  
          <p class="right-card-text">{{'CAMBIO_CONTRASENA_SUBTITULO' | translate }}</p>

          <p class="right-card-text">{{'CAMBIO_CONTRASENA_SUBTITULO_2' | translate }}</p>

          <form class="restpass" (ngSubmit)="onSubmitreset()">
            <div class="no-padding-responsive form-group col-lg-6 col-md-6 col-sm-12 pl-0  pass-create">
              <label class="restpass-label mb-0">*&nbsp;{{'CAMPOS_OBLIGATORIOS' | translate}}</label>

              <label class="right-card-label" for="">{{'CONTRASENA_NUEVA' | translate}}&nbsp;*</label>
              <div class="input-group">
                <input type="{{new}}" required class="form-control new-input" name="newPass" [(ngModel)]="key.newKey"
                  [ngClass]="{ 'is-invalid': newPass.invalid && (newPass.dirty || newPass.touched) }"
                  #newPass="ngModel" maxlength="100">
<!--                 <div *ngIf="!(newPass.invalid && (newPass.dirty || newPass.touched))" class="input-group-prepend">
                  <button id="viewoldpass" class="viewpassword" type="button" (click)="toogleNew()" tabindex="-1">
                    <div class="icon-eye"></div>
                  </button>
                </div> -->
              </div>
              <div class="form-group">
                <div class="input-group">
                  <app-password-strength (validpass)="checkpass($event)" [barLabel]="barLabel"
                    [passwordToCheck]="key.newKey"></app-password-strength>
                </div>
              </div>
            </div>
            <div class="no-padding-responsive form-group col-lg-6 col-md-6 col-sm-12 pr-0 pass-confirm">
              <label class="right-card-label" for="">{{ 'CONTRASENA_CONFIRMAR' | translate }}&nbsp;*</label>
              <div class="input-group">
                <input type="{{repeat}}" required class="form-control new-input" name="repeatKey" [(ngModel)]="key.repeatKey"
                  [ngClass]="{ 'is-invalid': repeatKey.invalid && (repeatKey.dirty || repeatKey.touched) }"
                  #repeatKey="ngModel" maxlength="100">
                <div *ngIf="!(repeatKey.invalid && (repeatKey.dirty || repeatKey.touched))"
                  class="input-group-prepend">
<!--                   <button id="viewrepeat" class="viewpassword" type="button" (click)="toogleRepeat()" tabindex="-1">
                    <div class="icon-eye"></div>
                  </button> -->
                </div>
              </div>
              <small *ngIf="repeatKey.value !== newPass.value && repeatKey.touched"
                class="text-danger text-left">{{'RECOVER_PWD_VALIDATION1' | translate}}</small>
            </div>
            <div class="form-group col-lg-12 pl-0 pr-0 d-flex justify-content-end">
              <button type="submit" class="btn btn-primary mt-3" [disabled]="repeatKey.value !== newPass.value || newPass.invalid
                            || repeatKey.invalid || !successpass || loadingPassword">
                <nz-spinner *ngIf="loadingPassword"></nz-spinner>
                <div *ngIf="!loadingPassword" class="text-uppercase">{{'CONTRASENA_CAMBIAR' | translate}}</div>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>