
<section class="row mr-0 ml-0 activation-section section-scroll-heigth" *ngIf="!allreadyActivated">
  <div class="col-lg-2 col-md-12 col-sm-12 pl-0 pr-0 activation-steps-card no-padding-responsive" >
    <div class="no-padding-responsive card">
      <div class="card-logo pr-4 pl-4 pt-3 pb-0 mb-5">
        <a>
          <b class="logo">
            <img src="{{partnerService.partner.logotipo}}" alt="homepage" class="light-logo" />
          </b>
        </a>
      </div>
      <div class="card-body pr-0 pl-0  mb-3">
        <div class="indicator">
          <span class=" pl-4 fs-14 lh-16 neutral-black" *ngIf="completeProfile == false"><b>{{'ACTIVACION_INDEX_1' | translate }}</b></span>
          <span class=" pl-4 fs-14 lh-16 neutral-black" *ngIf="completeProfile == true"><b>{{'ACTIVACION_INDEX_2' | translate }}</b></span>
        </div>
      </div>
      <div class="card-footer pr-0 pl-0 pt-0 pb-0">

      </div>
    </div>
  </div>
  <div class="container-fluid m767 pr-3 pt-5 ml-0 mr-0 col-lg-10 col-md-12 col-sm-12 activate-container no-padding-responsive form-new-contrasena">
    <div class="row mr-0 ml-0 card-row form-contrasena-width" *ngIf="completeProfile == false">
      <p class="right-card-tittle">{{'CONTRASENA_CREAR' | translate }}</p>
      <div class="col-lg-12 col-md-12 col-sm-12 right-card">

        <div class="justify-content-between right-card-body">

          <p class="right-card-text">{{'CAMBIO_CONTRASENA_SUBTITULO' | translate }}</p>

          <p class="right-card-text">{{'CAMBIO_CONTRASENA_SUBTITULO_2' | translate }}</p>

          <form class="restpass" (ngSubmit)="onSubmitreset()">
            <div class="no-padding-responsive form-group col-lg-6 col-md-6 col-sm-12 pl-0 pass-create">
              <label class="restpass-label">*&nbsp;{{'CAMPOS_OBLIGATORIOS' | translate}}</label>

              <label class="right-card-label" for="">{{'CONTRASENA' | translate}}&nbsp;*</label>
              <div class="input-group">
                <input type="{{new}}" required class="form-control new-input" name="newPass" [(ngModel)]="key.newKey"
                  [ngClass]="{ 'is-invalid': newPass.invalid && (newPass.dirty || newPass.touched) }"
                  #newPass="ngModel" maxlength="100">
<!--                 <div *ngIf="!(newPass.invalid && (newPass.dirty || newPass.touched))" class="input-group-prepend">
                  <button id="viewoldpass" class="viewpassword" type="button" (click)="toogleNew()" tabindex="-1">
                    <div class="icon-eye"></div>
                  </button>
                </div> -->
              </div>
              <div *ngIf="newPass.invalid && (newPass.dirty || newPass.touched)"
                class="text-danger text-left">{{'CAMPO_REQUERIDO' | translate}}
              </div>
              <div class="form-group">
                <div class="input-group lev-fuerza">
                  <app-password-strength (validpass)="checkpass($event)" [barLabel]="barLabel"
                    [passwordToCheck]="key.newKey"></app-password-strength>
                </div>
              </div>
            </div>
            <div class="no-padding-responsive form-group col-lg-6 col-md-6 col-sm-12 pr-0 pass-confirm">
              <label class="right-card-label" for="">{{ 'CONTRASENA_CONFIRMAR' | translate }}&nbsp;*</label>
              <div class="input-group">
                <input type="{{repeat}}" required class="form-control new-input" name="repeatKey" [(ngModel)]="key.repeatKey"
                  [ngClass]="{ 'is-invalid': repeatKey.invalid && (repeatKey.dirty || repeatKey.touched) }"
                  #repeatKey="ngModel" maxlength="100">
                <div *ngIf="!(repeatKey.invalid && (repeatKey.dirty || repeatKey.touched))"
                  class="input-group-prepend">
<!--                   <button id="viewrepeat" class="viewpassword" type="button" (click)="toogleRepeat()" tabindex="-1">
                    <div class="icon-eye"></div>
                  </button> -->
                </div>
              </div>
              <div *ngIf="repeatKey.invalid && (repeatKey.dirty || repeatKey.touched)"
                class="text-danger text-left">{{'CAMPO_REQUERIDO' | translate}}
              </div>
              <div *ngIf="repeatKey.value !== newPass.value && repeatKey.touched"
                class="text-danger text-left">{{'RECOVER_PWD_VALIDATION1' | translate}}
              </div>
            </div>
            <div class="form-group col-lg-12 pl-0 pr-0 d-flex justify-content-end">
              <button type="submit" class="btn btn-primary mt-3" [disabled]="repeatKey.value !== newPass.value || newPass.invalid
                            || repeatKey.invalid || !successpass || loadingPassword">
                <nz-spinner *ngIf="loadingPassword"></nz-spinner>
                <div *ngIf="!loadingPassword" class="text-uppercase">{{'GUARDAR_CAMBIOS' | translate}}</div>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- profile data  -->
    <div class="row service-card card-row  form-dates-profile" *ngIf="completeProfile == true">
      <p class="right-card-tittle">{{'ACTIVACION_CONFIGURAR_PERFIL' | translate }}</p>
      <div class="col-lg-12 col-md-12 col-sm-12 right-card">
        <div class="justify-content-between right-card-body custom-margins">
          <form (ngSubmit)="onSubmit()" class="">
            <div class="row align-items-start mr-0 ml-0">
              <!-- photo -->
              <div class="col-lg-6 col-md-6 col-sm-12 pl-0">
                <div class="picture-container">
                  <div class="upload-wrapper mt-0 mb-0">
                    <div class="">
                      <div class="photo top">
                        <input #profileImage name="favicon" type="file" (change)="onUploadImagen($event)"
                          accept="image/x-png,image/jpeg,image/gif,image/x-icon">
                        <button type="button" class="btn bback" (click)="profileImage.click()">
                          <img [src]=sanitizer.bypassSecurityTrustUrl(image) />
                        </button>
                      </div>
                      <div class="text">
                        <p class="right-card-tittle foto-perfil">{{'IMAGEN_PERFIL' | translate}}</p>
                        <p class="right-card-text" >{{'CAMBIAR_IMAGEN_PERFIL_CIRCULO' | translate}}</p>
                      </div>
                    </div>
                    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">{{'CUT_PROFILE_IMAGE_USER' | translate}}
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="img-container">
                              <img id="image" src="">
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default text-uppercase" data-dismiss="modal">{{'CANCEL' |
                              translate}}</button>
                            <button type="button" class="btn btn-primary text-uppercase" id="crop" >{{'OK' | translate}}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- checkbox lo ocultamos por mientras, hasta solucinar el problema de los hijos para que no muestre este apartado de notificaciones -->
    
              <div class="col-lg-6 col-md-6 col-sm-12 pr-0" *ngIf="!mobile">
                <p class="right-card-tittle fs-16">{{'GESTION_EMAILS_NOTIFICACIONES' | translate }}</p>
                <!--<div class="form-group col-lg-12 col-md-12 col-sm-12 pl-0 pr-0"  *ngIf="userNotificationConfig.isUserAdmin || (!userNotificationConfig.isUserAdmin && userNotificationConfig.showReceiveEmailAlerts)">  
                   <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input"
                    id="receiveEmailAlerts" name="receiveEmailAlerts" [(ngModel)]="receiveEmailAlerts"
                    [checked]="receiveEmailAlerts">
                    <label class="custom-control-label custom-control-label-activation" for="receiveEmailAlerts">{{'GESTION_EMAILS_OPT4' | translate}}</label>
                  </div> 
                </div>-->
                <div class="form-group">  <!-- *ngIf="userNotificationConfig.activeNewsletter" -->
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input"
                    id="activeNewsletter" name="activeNewsletter" [(ngModel)]="user.activeNewsletter"
                    [checked]="user.activeNewsletter">
                    <label class="custom-control-label" for="activeNewsletter">{{'GESTION_EMAILS_OPT5' | translate}}</label>
                  </div>
                </div>
          <!--       <div class="form-group col-lg-12 col-md-12 col-sm-12 pl-0 pr-0">  *ngIf="userNotificationConfig.isUserAdmin"
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input"
                    id="sendChildEmailAlerts" name="sendChildEmailAlerts" [(ngModel)]="sendChildEmailAlerts"
                    [checked]="sendChildEmailAlerts">
                    <label class="custom-control-label custom-control-label-activation" for="sendChildEmailAlerts">{{'GESTION_EMAILS_OPT2' | translate}}</label>
                  </div>
                </div> -->
             <!--    <div class="form-group  col-lg-12 col-md-12 col-sm-12 pl-0 pr-0" *ngIf="userNotificationConfig.showUserPost" >
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input"
                    id="elearningCheck" name="elearningCheck" [(ngModel)]="elearningNotification"
                    [checked]="elearningNotification">
                    <label class="custom-control-label" for="elearningCheck">{{'GESTION_EMAILS_OPT6' | translate}}</label>
                  </div>
                </div> -->
              </div>

              <div class="form-group col-lg-12 col-md-12 col-sm-12 pl-0 pr-0">
                <label class="restpass-label">*&nbsp;{{'CAMPOS_OBLIGATORIOS' | translate}}</label>
              </div>

              <!-- form -->
              <div class="col-lg-6 col-md-6 col-sm-12 pl-0 pr-0">
                <div class="form-group col-md-12 col-sm-12 pl-0 no-padding-responsive">
                  <label class="right-card-label" for="">{{ 'NOMBRE' | translate }}&nbsp;*</label>
                  <div class="input-group">
                    <input type="text" required class="form-control new-input" name="name" [(ngModel)]="user.name" #name="ngModel"
                    [ngClass]="{ 'is-invalid': name.invalid && (name.dirty || name.touched) }"
                      maxlength="100">
                  </div>
                  <div *ngIf="name.invalid && (name.dirty || name.touched)"
                    class="text-danger text-left">{{'CAMPO_REQUERIDO' | translate}}
                  </div>
                </div>

                <div class="form-group col-md-12 col-sm-12 pl-0 no-padding-responsive">
                  <label class="right-card-label" for="">{{ 'APELLIDOS' | translate }}&nbsp;*</label>
                  <div class="input-group">
                    <input type="text" required class="form-control new-input" name="surname" [(ngModel)]="user.surname"
                    [ngClass]="{ 'is-invalid': surname.invalid && (surname.dirty || surname.touched) }"
                    #surname="ngModel" maxlength="100">
                  </div>
                  <div *ngIf="surname.invalid && (surname.dirty || surname.touched)"
                    class="text-danger text-left">{{'CAMPO_REQUERIDO' | translate}}
                  </div>
                </div>

                <div class="form-group col-md-12 col-sm-12 pl-0 no-padding-responsive" *ngIf="partnerService.countries && partnerService.countries.length > 1">
                  <label class="right-card-label" for="">{{ 'PAIS' | translate }}</label>
                  <div class="input-group">
                    <select class="form-control new-input" name="country" [(ngModel)]="user.countryCode">
                      <option *ngFor="let country of partnerService.countries" [value]="country.code">
                        {{country.name}}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group col-md-12 col-sm-12 pl-0 no-padding-responsive" *ngIf="partnerService.partner.hasFullProfile">
                  <label class="right-card-label" for="">{{ 'CIUDAD' | translate }}</label>
                  <div class="input-group">
                    <input type="text" class="form-control new-input" name="city" [(ngModel)]="user.city" maxlength="50">
                  </div>
                </div>

                <div class="form-group col-md-12 col-sm-12 pl-0 no-padding-responsive" *ngIf="partnerService.partner.hasFullProfile">
                  <label class="right-card-label" for="">{{ 'TELEFONO' | translate }}</label>
                  <div class="input-group">
                    <input type="text" class="form-control new-input" name="phone" [(ngModel)]="user.phone" #phone="ngModel"
                    maxlength="20">
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 pl-0 pr-0">

                <div class="form-group col-md-12 col-sm-12 pr-0 no-padding-responsive">
                  <label class="right-card-label" for="">{{ 'EMAIL' | translate }}&nbsp;*</label>
                  <div class="input-group">
                    <input type="email" required class="form-control new-input" name="email" [(ngModel)]="user.email"
                    [readonly]="isReadOnlyEmail" #email="ngModel" maxlength="100">
                  </div>
                </div>

                <div class="form-group col-md-12 col-sm-12 pr-0 no-padding-responsive" *ngIf="partnerService.partner.languages && partnerService.partner.languages.length > 1">
                  <label class="right-card-label" for="">{{ 'COMP_PARTNERS.LANGUAGES' | translate }}&nbsp;*</label>
                  <div class="input-group">
                    <select required class="form-control new-input" name="language" [(ngModel)]="user.languageCode">
                      <option *ngFor="let lan of partnerService.partner.languages" [ngValue]="lan.code" >
                        {{lan.name}}
                      </option>
                    </select>

                  </div>
                </div>

                <div class="form-group col-md-12 col-sm-12 pr-0 no-padding-responsive" *ngIf="partnerService.partner.hasFullProfile">
                  <label class="right-card-label" for="">{{ 'DIRECCION' | translate }}</label>
                  <div class="input-group">
                    <input type="text" class="form-control new-input" name="adress" [(ngModel)]="user.adress"
                    #adress="ngModel" maxlength="100">
                  </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 pr-0 no-padding-responsive" *ngIf="partnerService.partner.hasFullProfile">
                  <label class="right-card-label" for="">{{ 'CODIGO_POSTAL' | translate }}</label>
                  <div class="input-group">
                    <input type="text" class="form-control new-input" name="postalcode" [(ngModel)]="user.postalcode"
                    #postalcode="ngModel" maxlength="10">
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 pr-0 no-padding-responsive" *ngIf="mobile">
                  <p class="right-card-tittle fs-16">{{'GESTION_EMAILS_NOTIFICACIONES' | translate }}</p>
                  <div class="form-group col-lg-12 col-md-12 col-sm-12 pl-0 pr-0">  <!-- *ngIf="userNotificationConfig.isUserAdmin || (!userNotificationConfig.isUserAdmin && userNotificationConfig.showReceiveEmailAlerts)" -->
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input"
                      id="receiveEmailAlerts" name="receiveEmailAlerts" [(ngModel)]="receiveEmailAlerts"
                      [checked]="receiveEmailAlerts">
                      <label class="custom-control-label custom-control-label-activation" for="receiveEmailAlerts">{{'GESTION_EMAILS_OPT4' | translate}}</label>
                    </div>
                  </div>
                  <div class="form-group col-lg-12 col-md-12 col-sm-12 pl-0 pr-0"> <!-- *ngIf="userNotificationConfig.isUserAdmin" -->
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input"
                      id="sendChildEmailAlerts" name="sendChildEmailAlerts" [(ngModel)]="sendChildEmailAlerts"
                      [checked]="sendChildEmailAlerts">
                      <label class="custom-control-label custom-control-label-activation" for="sendChildEmailAlerts">{{'GESTION_EMAILS_OPT2' | translate}}</label>
                    </div>
                  </div>
                  <div class="form-group" > <!-- *ngIf="userNotificationConfig.activeNewsletter" -->
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input"
                      id="activeNewsletter" name="activeNewsletter" [(ngModel)]="userNotificationConfig.activeNewsletter"
                      [checked]="user.activeNewsletter">
                      <label class="custom-control-label" for="activeNewsletter">{{'GESTION_EMAILS_OPT5' | translate}}</label>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-12 col-sm-12 pr-0 no-padding-responsive mt-42">
                  <div class="custom-control custom-checkbox text-left ">
                    <input type="checkbox" class="custom-control-input" id="terms" name="terms" (change)="checkTerms($event)">
                    <label class="custom-control-label custom-control-label-activation text-left terms-label" for="terms">{{'LEIDO_ACEPTO' | translate}} <a
                        routerLink="/terms" (click)="saveTempProfile()">{{'LEIDO_ACEPTO_2' |
                        translate}}</a>{{'LEIDO_ACEPTO_3' | translate}}.</label>
                  </div>
                  <div
                    *ngIf="!terms"
                    class="text-danger text-left consent">{{'CONSENTIMIENTO' | translate}}
                  </div>
                </div>
              </div>
              <div class="form-group col-lg-12 pl-0 pr-0 d-flex justify-content-end margin-buttom-form">
                <button type="submit"
                  [disabled]="loading || !terms ||
                  (surname.invalid && (surname.dirty || surname.touched)) ||
                  (name.invalid && (name.dirty || name.touched))" class="btn btn-primary mt-3">
                  <nz-spinner *ngIf="loading"></nz-spinner>
                  <div *ngIf="!loading" class="text-uppercase">
                    {{'GUARDAR_CAMBIOS' | translate}}</div>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="card-section" *ngIf="allreadyActivated">
  <div class="container-fluid m767 pr-3">
    <div class="row card-row " >
      <div class="col-lg-7 col-md-7 col-sm-12 right-card-bg">
        <div class="justify-content-between right-card-body mh-300">
          <p class="right-card-tittle">{{'ACTIVACION_USUARIO_ACTIVADO' | translate}}</p>
          <p class="right-card-text">{{'ACTIVACION_ACCEDER_TEXTO1' | translate: <span class="main-accent"> { email: user.email} </span> }}</p>
          <p class="right-card-text login-link" (click)="redirectLogin()">{{loginUrl}}</p>
          <p class="right-card-text">{{'ACTIVACION_ACCEDER_TEXTO2' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
