<section id="header">
  <app-service-header 
    [serviceName] = "licenseService.serviceName"
    [serviceLongDesc] = "licenseService.longDesc"
    [serviceDesc] = "licenseService.serviceDesc"
    [serviceIcon] = "licenseService.serviceIcon">
  </app-service-header>
</section>

<section class="dashboard-page ml-3 pl-1">
  <div class="container-fluid">
      <hr>
      <br />
      <div class="card">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 pt-4 pb-4 text-center">
                      <h1 class="title mb-4 text-center">1. {{'ANTIVIRUS.DOWNLOAD' | translate}}</h1>
                      <a href="https://download.bitdefender.com/windows/installer/es-es/bitdefender_tsecurity.exe"
                          target="_blank">
                          <button class="btn btn-outline-primary mr-2 mb-4" href="agentData.download|safe: 'resourceUrl'">
                              <span>
                                  <div class="myicons-windowsos"></div>
                              </span>
                              <div class="hidden-box">Windows</div>
                          </button>
                      </a>
                      <a href="https://download.bitdefender.com/mac/av/es/bitdefender_antivirus_for_mac.dmg" target="_blank">
                          <button class="btn btn-outline-primary mr-2 mb-4" href="agentData.download|safe: 'resourceUrl'">
                              <span>
                                  <div class="myicons-macos"></div>
                              </span>
                              <div class="hidden-box">MAC</div>
                          </button>
                      </a>
                      <br/>
                      <a href="https://play.google.com/store/apps/details?id=com.bitdefender.security" target="_blank">
                          <button class="btn btn-outline-primary mr-2 mb-4" href="agentData.download|safe: 'resourceUrl'">
                              <span>
                                  <div class="myicons-androidos"></div>
                              </span>
                              <div class="hidden-box">Android</div>
                          </button>

                      </a>
                      <a href="https://apps.apple.com/es/app/bitdefender-mobile-security/id1255893012" target="_blank">
                          <button class="btn btn-outline-primary mr-2 mb-4" href="agentData.download|safe: 'resourceUrl'">
                              <span>
                                  <div class="myicons-ios"></div>
                              </span>
                              <div class="hidden-box">iPhone</div>
                          </button>

                      </a>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 pt-4 pb-4">
                      <div class="text-center" *ngIf="licence === ''">
                          <h1 class="title mb-4 text-center">2. {{'ANTIVIRUS.SOLICITAR' | translate}}</h1>
                          <img src="{{staticContentUrl+'img/art/bitdefender-logo.png'}}" width="150" heigth="" alt="Bitdefender" />
                          <div class="scard greycard">
                              <br/>
                              <button [disabled]="loading"
                                      class="btn btn-primary"
                                      (click)="setUserLicenceIS()">
                                  <nz-spinner *ngIf="loading"></nz-spinner>
                                  <div *ngIf="!loading">{{'ANTIVIRUS.SOLICITAR_BUTTON' | translate}}</div>
                              </button>
                              <br/><br/>
                          </div>
                      </div>
                      <div class="text-center" *ngIf="licence !== ''">
                          <h1 class="title mb-4 text-center">2. {{'ANTIVIRUS.SOLICITAR_TEXT1' | translate}}</h1>
                          <img src="{{staticContentUrl+'img/art/bitdefender-logo.png'}}" width="150" heigth="" alt="Bitdefender" />
                      </div>
                      <div class="text-center" *ngIf="licence !== ''" class="scard greycard">
                          <p class="text-center">{{'ANTIVIRUS.LICENSE' | translate}}</p>
                          <div class="input-group">
                              <input readonly type="text" class="form-control" [value]="licence">
                          </div>
                      </div>

                  </div>
                  
              </div>
          </div>
      </div>
  </div>
</section>

<div id="divPopupLicence" class="popup add-service" style="display: none;">
  <div id="popup">
    <div class="popup-header">
      <a id="divPopupLicence" class="cerrar" href="javascript:void(0);" onclick="$('#divPopupLicence').hide()">
        <div _ngcontent-oui-c3="" class="myicons-close"></div>
      </a>
      <div class="{{licenseService.serviceIcon}}"></div>
      <h2><span [innerHtml]="licenseService.serviceName"></span> {{'COMP_LICENCE.POP.ACTIVATED' | translate}}</h2>
    </div>
    <div class="popup-body">
      <p>{{'COMP_LICENCE.POP.SUBTITLE' | translate}}</p>
      <hr>
      <p>{{'COMP_LICENCE.POP.DOWNLOAD_APP_TEXT1' | translate}} <strong>{{'COMP_LICENCE.POP.DOWNLOAD_APP_TEXT2' |
          translate}}</strong>.</p>
      <div class="form-group continput">
        <div class="input-group code">
          <input readonly type="text" class="form-control" [value]="licence">
        </div>
      </div>
      <br />
      <div *ngIf="this.licenseService.services != null  && this.licenseService.services.length>0">
        <p>{{'COMP_LICENCE.POP.TEXT2' | translate}}</p>
        <div class="row more">
          <div class="col-lg-6 col-md-6 col-sm-12" *ngFor="let item of this.licenseService.services">
            <div class="{{item.icon}}"></div>
            <h4>{{item.service}}</h4>
          </div>
        </div>
      </div>
      <hr class="sec">
      <h5>{{'COMP_LICENCE.POP.TEXT1' | translate}}</h5>
      <p>{{'COMP_LICENCE.POP.TEXT3' | translate}}</p>
    </div>
    <div class="popup-footer">
      <button class="btn btn-primary" onclick="$('#divPopupLicence').hide()">{{'COMP_LICENCE.POP.BUTTON_ACEPT' |
        translate}}</button>
    </div>

  </div>