<section id="header">
  <div class="container-fluid">
      <ul class="navbar-nav float-left mr-auto ml-3 pl-1">
          <li class="nav-item">
          <small>&nbsp;</small>
          </li>
          <li class="nav-item">
          <h4 [innerHTML]="downloadService.serviceName"></h4>
          </li>
      </ul>
  </div>
</section>

<section id="servicestitles" class=" mr-3 ml-3 pl-1">
  <div class="container-fluid">
    <br/><br/><br/>
    <a class="bback" href="javascript:history.back()"> <div class="myicons-arrow"></div>{{ 'ATRAS' | translate }}</a>
    <br/><br/>
    <div class="service-title" [innerHTML]="downloadService.serviceDesc"></div>
    <br/>
    <button class="collapse-btn" data-toggle="collapse" data-target="#description-service"><div class="myicons-info"></div> {{ 'MAS_INFO_SERVICIO' | translate }}</button>
    <div id="description-service" class="collapse">
      <div>
        <span [innerHTML]="downloadService.longDesc"></span>
      </div>
    </div>
  </div>
</section>

<section class=" mr-3 ml-3 pl-1 mt-3">
  <div class="container-fluid">
    <hr>
    <br>
   <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <p>{{'DESCARGA_TEXTO' | translate}}</p>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
          <a [href]="downloadService.download.windowsUrl|safe: 'resourceUrl'">
            <button class="btn btn-outline-primary mr-2 mb-4"  >
              <span><div class="myicons-windowsos" ></div></span>
              <div class="hidden-box">Windows</div>
            </button>
          </a>
      </div>
    </div> 
  </div>
</section>

<br/><br/><br/>