<section class="loginBox">
  <div class="container-fluid pl-0 px-0">
    <div class="row vh-100 no-gutters">
      <div class="col-lg-4 col-md-5 d-flex flex-column auth-bg-section loginText"
        [ngStyle]="{'background-image':partnerService.backgroundImage}">
        <div class="header">
          <img class="logo" alt="logo" src="{{partnerService.partner.logotipo}}">
          <h3>{{partnerService.partner.name}}</h3>
        </div>
        <div class="body">
          <h5>{{partnerService.partner.loginTitle}}</h5>
          <p>{{partnerService.partner.loginSubtitle}}</p>
        </div>
      </div>
      <div class="col-lg-8 col-md-7 d-flex flex-column justify-content-center vh-100 loginBox">
        <div class="auth-form-section loginForm">
          <form class="form-signin" [formGroup]="emailFromGroup" (ngSubmit)="onSubmitFrmPass(emailFromGroup)"
            *ngIf="!emailSent">
            <h5>{{'RESET_PASSWORD.TITLE' | translate}}</h5>
            <p *ngIf="partnerService.partner.loginType===5" class="pG">{{'RESET_PASSWORD.DESCRIPTION' | translate: {
              login: partnerService.partner.uniqueIdentifier } }}</p>
            <p *ngIf="partnerService.partner.loginType!==5" class="pG">{{'RESET_PASSWORD.DESCRIPTION' | translate: {
              login: email } }}</p>
            <div class="form-group">
              <input *ngIf="partnerService.partner.loginType!==5"
                [class.is-invalid]="(inputResetPassword.invalid && inputResetPassword.touched)"
                [class.is-valid]="inputResetPassword.valid" formControlName="email" type="email" class="form-control"
                placeholder="Email" required>
              <input *ngIf="partnerService.partner.loginType===5"
                [class.is-invalid]="(eidResetPassword.invalid && eidResetPassword.touched)"
                [class.is-valid]="eidResetPassword.valid" formControlName="eid" type="eid" class="form-control"
                placeholder="{{partnerService.partner.uniqueIdentifier.substring(0, 1).toUpperCase() + partnerService.partner.uniqueIdentifier.substring(1)}}" required>
            </div>
            <div class="form-group">
              <button type="submit" [disabled]="inputResetPassword.invalid" *ngIf="partnerService.partner.loginType!==5"
                class="btn btn-primary">{{'RESET_PASSWORD.RECOVER_PASSWORD' | translate}}</button>
              <button type="submit" [disabled]="eidResetPassword.invalid" *ngIf="partnerService.partner.loginType===5"
                class="btn btn-primary">{{'RESET_PASSWORD.RECOVER_PASSWORD' | translate}}</button>
            </div>
          </form>
          <div class="messageOk" *ngIf="emailSent">
            <h5>{{'RESET_PASSWORD.TITLE_OK' | translate}}</h5>
            <p *ngIf="partnerService.partner.loginType===5" class="pG">{{'RESET_PASSWORD.DESCRIPTION_OK' | translate: {
              login: partnerService.partner.uniqueIdentifier } }}</p>
            <p *ngIf="partnerService.partner.loginType!==5" class="pG">{{'RESET_PASSWORD.DESCRIPTION_OK' | translate: {
              login: email } }}</p>
            <img src="{{staticContentUrl+'img/art/envelope.png'}}" />
          </div>

          <div class="loginFooter">
            <div>
              <hr>
              <a (click)="goLoginPage()" class="btn btn-outline-secondary">{{
                'ACCEDER' | translate }}</a>
            </div>
            <div
              *ngIf="partnerService.partner.includePhone || partnerService.partner.includeWhatsapp || partnerService.partner.includeEmail"
              class="linkstlflogin">
              <hr>
              <p class="pQ"
                *ngIf="((partnerService.partner.includePhone && partnerService.partner.phone) && ((partnerService.partner.includeWhatsapp && partnerService.partner.whatsapp) || (partnerService.partner.includeEmail && partnerService.partner.email)))">
                {{"COMP_LANDING.TEXT1"|translate}}</p>
              <p class="pQ"
                *ngIf="((partnerService.partner.includePhone && partnerService.partner.phone) && (!(partnerService.partner.includeWhatsapp && partnerService.partner.whatsapp) && !(partnerService.partner.includeEmail && partnerService.partner.email)))">
                {{"COMP_LANDING.TEXT_CALL"|translate}}</p>
              <p class="pQ"
                *ngIf="(!(partnerService.partner.includePhone && partnerService.partner.phone) && ((partnerService.partner.includeWhatsapp && partnerService.partner.whatsapp) || (partnerService.partner.includeEmail && partnerService.partner.email)))">
                {{"COMP_LANDING.TEXT_WRITE"|translate}}</p>
              <p class="linkslogin tlf">
                <span *ngIf="partnerService.partner.includePhone && partnerService.partner.phone">
                  <a class="" href="tel:{{partnerService.partner.phone}}">
                    <div class="icon-phone"></div> {{partnerService.partner.phone}}
                  </a>
                </span>
                <span *ngIf="partnerService.partner.includeWhatsapp && partnerService.partner.whatsapp">
                  <a class="" href="https://api.whatsapp.com/send?phone={{partnerService.partner.whatsapp}}"
                    target="_blank">
                    <div class="icon-whatsapp"></div> {{partnerService.partner.whatsapp}}
                  </a>
                </span>
                <span tooltip="{{ 'SEND_EMAIL' | translate }}" title="{{ 'SEND_EMAIL' | translate }}" class="cemail"
                  *ngIf="partnerService.partner.includeEmail && partnerService.partner.email">
                  <a class="" href="mailto:{{partnerService.partner.email}}">
                    <div class="icon-envelope"></div> {{ 'SEND_EMAIL' | translate }}
                  </a>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>